<div class="project">
    <div class="project-name">
        {{project.name}}
    </div>
    <div class="project-image">
        <img src="{{project.imageSource}}" alt="image of the project">
    </div>
    <div class="project-description">
        {{project.description}}
    </div>
    <div class="project-technologies">
        {{#each project.technologies as |technology|}}
            <div class="project-technology">
                {{technology}}
            </div>
        {{/each}}
    </div>
    <div class="project-url">
        {{project.url}}
    </div>
</div>
